th, td {
    padding: 15px;
    border: 1px solid black;
    position: relative;
  }

table{
    margin-top: 10%;
    border: 2px solid black;

}

button{
  transform: translateY(-50%);
  transform: translateX(0%);
}